.container{
    input.ng-touched.ng-invalid{
        border:1px solid red;
        box-shadow: 0 0 13px insert rgba(255,0,0,0.2);
    }
    
    .card{
        margin-top: 50px;
        margin-bottom: 50px;
        .star{
            color:red;
        }
    }
}